@import url('https://fonts.googleapis.com/css2?family=Cute+Font&family=Open+Sans:wght@300;400&display=swap');
body {
  margin: 0;
  font-family: 'Cute Font', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
